
/*****************************************   
                                                Made By: 

                                                   -Frank Perez: https://github.com/frankperez-github
                                                   -Adrian valdes: https://github.com/adiazx14
                                                   
*********************************************************************************************************************************************************************************************************************************************************************/

@font-face {
    font-family: myriad_pro_regular;
    src: url('../fonts/MYRIADPRO-REGULAR.OTF');
}
*{
    font-family: myriad_pro_regular;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}



/*Layout*************************************/
.Header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #323F41;
}
.MessageHeader{
    position: absolute;
    margin-left: -20%;
    margin-top: 1%;
    font-size: 21px;
}
.ReviewHeader{
    color: white;
    margin-top: 3%;
    margin-left: -0.45%;
}
.ReviewHeader p{
    text-decoration: underline;
    text-decoration-color: white;
}
header{
    position: sticky;
    top: 0;
    z-index: 2;
}
.Logo1{
    width: 16.7%;
    margin-top: 0.5%;
    margin-left: -2.3%;
    margin-bottom: 0.5%;
}
.Logo2{
    width: 29.5%;
    margin-top: 2%;
    margin-right: 55%;
    margin-left: -4%;
}
.Footer{
    position: relative;
    top: 0;
    background-color: #323F41;
    display: flex;
    justify-content: space-between;
}
.footlog{
    width: 28%;
}
.LogoFoot{
    width: 45%;
    margin-left: 4%;
    padding-top: 5%;
}
.Phone{
    width: 35%;
    padding-top: 6.5%;
    padding-left: 3.5%;
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-color: white;
}
.Phone a:hover{
    color: gray;
    text-decoration-color: gray;
}
.phone{
    font-size: 2rem;
}
.Followus{
    margin-top: 2%;
    display: flex;
    margin-right: 10%;
}
.Rightfoot{
    width: 25%;
    margin-left: 0.5%;
}
.Follow{
    padding: 3% 3% 0 3%;
    color: white;
    font-size: 1.8rem;
}
.largescript{
    width: 12%;
    padding-left: 0.5%;
    padding-top: 0.8%;
}
.netlogo{
    width: 70%;
    margin: 2% 2% 2% 0%;
}
.Networks{
    display: flex;
    justify-content: space-between;
    margin-left: 0%;
}
.netlogo:last-of-type {
    margin-right: 15%;
}
/*end of Layout*************************************/


/*Principal View*****************************************/
.Principal{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.Princleft{
    width: 50% ;
    justify-content: left;
    color: white;
    background-image: url('/background1.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.promo{
    font-size: 1.7rem;
    padding: 1.6% 45% 80% 3%;
    text-align: start;
}

.Princright{
    width: 50%;
    color: white;
    background-image: url('/background1.2.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.Princright h2{
    font-size: 2.1rem;
    text-align: center;
}

.tittleinfo{
    padding: 8% 30% 0 20% ;
    margin-top: 5%;
    text-align: center;
}

.tittleline{
    padding: 0 20% 5% 11%;
}

.info{
    font-size: 1.4rem;
    text-align: center;
    padding: 5% 19% 0 8%;
    color: white;
}

.button{
    width: 37%;
    height: 2%;
    padding: 4% 8% 0 0;
    margin: 13% 0 5% 22%;
    border: solid;

}

.Contact{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin: -7% 0 0 19% ;
    padding-bottom: 4%;
}
/*end of Principal View**********************************/


/*Second View*************************/
.Second{
    background-image: url('/background2.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.video{
    width: 45%;
    height: 57vh;
    padding: 10% 10% 15% 8%;
}
/*end of Second View******************/


/*end of Third View*******************/
.Third{
    display: flex;
    background-image: url('/background3.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.Third ul{
    text-align: left;
    margin: 0;
    padding: 10% 50% 15% 5%;
    font-size: 1.5rem;
    line-height: 150% ;
    color: white;
}

.Thirdright{
    width: 100%;
    height: 87.15%;
    margin: 0;
}
/*Third View**************************/

/*FourthView**************************/
.Fourth  {
    width: 83%;
    padding: 12% 0% 0.5% 8.7%;
}
/*end of FourthView*******************/



/*FifthView*****************************/
.Review{
    display: flex;
    justify-content: space-between;
}
.ReviewSpace{
    text-align: center;
    margin-top: -2.7%;
    margin-bottom: 4%;
    width: 85%;
    margin-left: 7%;
}
.Fifth h1, h3{
    margin-top: 8%;
    text-align: center;
    margin-bottom: 5%;
}
.Fifth h3{
    font-size: 19px;
}
.Fifth h1{
    font-size: 35px;
}
.YourReview{
    text-align: center;
    width: 40%;
    margin-left: 30%;
    margin-bottom: 5%;
}
.YourReview input{
    width: 99%;
    margin-top: 5%;
    border: none;
    box-shadow: 0px 0px 10px   rgb(218, 216, 216) ;
    margin-bottom: 0.03%;
    padding: 1% 1.5%;
    font-size: 15px;
}
.YourReview textarea{
    padding: 1%;
    font-size: 12px;
    width: 84.5%;
    margin-top: 1%;
    border: none;
    box-shadow: 0px 0px 10px   rgb(218, 216, 216) ;
}

.YourReview button{
    width: 102%;
    font-size: 15px;
    padding: 1% 0;
    box-shadow: 0px 0px 10px   rgb(218, 216, 216) ;
    border: none;
    background-color: white;
}
.YourReview button:hover{
    cursor: pointer;
    background-color: whitesmoke;
}
#Review{
    display: block;
}
#Message{
    display: none;
}
.YourMessage{
    display: none;
}
/*end of FifthView**********************/

/*Swiper********************************/
.SwiperSlide{
    width: 80% !important;
    margin-left: 20%;
    margin-top: -3.5%;
}
.SwiperSlide:first-of-type{
    margin-left: 10.5%;
}
.ReviewItself{
    margin-top: -2%;
}
/*end of Swiper*************************/

/*Responsive Design******************************/

.Headerphone{
    display:none;
}
.Principalphone{
    display: none;
}
.Secondphone{
    display: none;
}
.Picsphone{
    display: none;
}
.Footerph{
    display: none;
}
.FifthViewMob{
    display: none;
}

@media  (max-width:1125px) {

    .promo{
        font-size: 1.3rem;
    }
    .info{
        font-size: 1.3rem;
    }
    .Princright h2{
        font-size: 2.1rem;
    }
    .MessageHeader{
        font-size: 20px;
    }
    .YourReview button{
        font-size: 15px;
    }
    .YourReview input{
        font-size: 15px;
    }
    .YourReview textarea{
        font-size: 12px;
    }
    .Fifth h1{
        font-size: 35px;
    }
    .Message{
        font-size: 27px;
    }
    .button{
        margin: 10% 0 8% 22%;
    }
    
    .Contact{
        font-size:1.3rem;
        margin: -9% 0 0 10% ;
    }
    .Third ul{
        font-size: 1.2rem;
    }
    .Follow{
        font-size: 1.45rem;
    }
    .Fifth h3{
        font-size: 16px;
    }
    .Phone{
        font-size: 1.7rem;
    }
    .reviewstitt{
        font-size: 1rem;
    }
    .sendbutton{
       font-size: 0.8rem;
    }
    
}

@media  (max-width:1070px) {
    .promo{
        font-size: 1.25rem;
    }
    .info{
        font-size: 1.1rem;
    }
    .Princright h2{
        font-size: 2rem;
    }
    .MessageHeader{
        font-size: 18.5px;
    }
    .YourReview button{
        font-size: 14px;
    }
    .YourReview input{
        font-size: 14px;
    }
    .YourReview textarea{
        font-size: 11px;
    }
    .Fifth h1{
        font-size: 33px;
    }
    .Message{
        font-size: 25px;
    }
    .button{
        margin: 8% 0 8% 22%;
    }
    .Contact{
        font-size:1.2rem;
    }
    .Third ul{
        font-size: 1.1rem;
    }
    .Follow{
        font-size: 1.3rem;
    }
    .Fifth h3{
        font-size: 14px;
    }
    .Phone{
        font-size: 1.5rem;
    }
    .reviewstitt{
        font-size: 0.9rem;
    }
    .sendbutton{
        font-size: 0.7rem;
     } 
}

@media  (max-width:990px) {
    .promo{
        font-size: 1rem;
    }
    .info{
        font-size: 1rem;
    }
    .Princright h2{
        font-size: 1.5rem;
    }
    .Contact{
        font-size:1rem;
    }
    .YourReview button{
        font-size: 13px;
    }
    .YourReview input{
        font-size: 13px;
    }
    .YourReview textarea{
        font-size: 10px;
    }
    .MessageHeader{
        font-size: 14px;
    }
    .Fifth h1{
        font-size: 26px;
    }
    .Message{
        font-size: 21px;
    }
    .button{
        margin: 7% 0 0 22%;
    }
    .Third ul{
        font-size: 0.9rem;
    }
    .Follow{
        font-size: 1.1rem;
    }
    .Fifth h3{
        font-size: 13px;
    }
    .Phone{
        font-size: 1.3rem;
    }
    .netlogo:last-of-type {
        margin-right: 25%;
    }
    .reviewstitt{
        font-size: 0.8rem;
    }
    .sendbutton{
        font-size: 0.7rem;
     } 
}

@media  (max-width:800px) {
    .promo{
        font-size: 0.8rem;
    }
    .info{
        font-size: 0.8rem;
    }

    .button{
        margin: 8% 0 0 22%;
    }
    .MessageHeader{
        font-size: 12px;
    }
    .YourReview button{
        font-size: 12px;
    }
    .YourReview input{
        font-size: 12px;
    }
    .YourReview textarea{
        font-size: 9px;
    }
    .Fifth h1{
        font-size: 22px;
    }
    .Message{
        font-size: 17px;
    }
    .Princright h2{
        font-size: 1.2rem;
    }
    .Contact{
        font-size:0.79rem;
    }
    .Third ul{
        font-size: 0.7rem;
    }
    .Follow{
        font-size: 0.8rem;
    }
    .Fifth h3{
        font-size: 10px;
    }
    .Phone{
        font-size: 1.1rem;
    }
    .reviewstitt{
        font-size: 0.6rem;
    }
    .netlogo:last-of-type {
        margin-right: 26%;
    }
    .sendbutton{
        font-size: 0.5rem;
    } 
}

@media  (max-width:645px) {
    .promo{
        font-size: 0.6rem;
    }
    .info{
        font-size: 0.6rem;
    }
    .Princright h2{
        font-size: 1rem;
    }
    .Contact{
        font-size:0.65rem;
    }
    .MessageHeader{
        font-size: 10px;
    }
    .YourReview button{
        font-size: 10px;
    }
    .YourReview input{
        font-size: 10px;
    }
    .YourReview textarea{
        font-size: 8px;
    }
    .Fifth h1{
        font-size: 19px;
    }
    .Message{
        font-size: 14px;
    }
    .Third ul{
        font-size: 0.6rem;
    }
    .Follow{
        font-size: 0.68rem;
    }
    .Fifth h3{
        font-size: 8px;
    }
    .Phone{
        font-size: 0.9rem;
    }
    .reviewstitt{
        font-size: 0.6rem;
    }
    .sendbutton{
        font-size: 0.5rem;
    } 
}

@media  (max-width:540px) {
    .promo{
        font-size: 0.5rem;
    }
    .info{
        font-size: 0.6rem;
    }
    .Princright h2{
        font-size: 0.8rem;
    }
    .Contact{
        font-size:0.6rem;
    }
    .MessageHeader{
        font-size: 9px;
    }
    .YourReview button{
        font-size: 9px;
    }
    .YourReview input{
        font-size: 9px;
    }
    .YourReview textarea{
        font-size: 7px;
    }
    .Fifth h1{
        font-size: 17px;
    }
    .Message{
        font-size: 12px;
    }
    .Third ul{
        font-size: 0.5rem;
    }
    .Follow{
        font-size: 0.65rem;
    }
    .Phone{
        font-size: 0.75rem;
    }
    .reviewstitt{
        font-size: 0.5rem;
    }
    .sendbutton{
        font-size: 0.5rem;
     } 
}

@media  (max-width: 500px) {

    .header-div{display: none;}
    .Footer{display: none;}
    .Principal{display: none;}
    .Second{display: none;}
    .Third{display: none;}
    .Fourth{display: none;}
    .Fifth{display:none;}
    

    .Headerphone{display: block;}
    .Principalphone{display:block;}
    .Secondphone{display: block;}
    .Picsphone{display: block;}
    .Footerph{display: block;}
    .FifthViewMob{display: block;}

}