/*Header Phone*************************/
.Headerphone{
    background-color: #323F41 ;
}

.hdrlog1{
    width: 40%;
    padding: 2% 0;
    margin-left: 2%;
}

.hdrlog2{
    width: 50%;
    margin: -15% 0 0% 32%;
    padding-bottom: 4.6%;
}
/*end of Header Phone*****************************/



/*PrincipalView Mob******************/
.Promophone{
    background-image: url('/phbackgr.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.Promophone h2{
    color: white;
    padding: 43% 4% 7%  4% ;
    font-size: 2.2rem;
}

.Horizsect{
    color: white;
    padding: 0 3%;
    padding-top: 0;
    font-size: 1.5rem;
    background-image: url('/secchoriz.png');
}

.Promotext{
    color: white;
    padding: 42.5% 5% 2% 5%;
    font-size: 1.4rem;
    text-align: center;
}
.Principalphone{
    background-color:#323F41;
    padding-bottom: 1%;
    margin-bottom: 3%;
}
.Contactphone{
    border: solid;
    border-color: white;
    width: 55% ;
    margin: 5% 21%;
    padding: 1%;
    font-size: 1.5rem;
}
.Contactphone a{
    margin-left: 14%;
}
/*end of PrincipalView Mob***********/


/*SecondViewMob**********************/
.videoph{
    width:93%;
    margin-left: 3.5%;
    margin-bottom: 3%;
}
.JetsBackGr{
    width: 100%;
}
.FAQph{
    text-align: start;
    background-color: #323F41;
    color: white;
    margin-top: -2%;
    font-size: 1.25rem;
}
.FAQph ul {
    list-style: initial;
    padding: 3% 10% 3% 8%;
}
/*end of SecondViewMob***************/


/*ThirdViewMob***********************/
.Picsphone{
    width: 98%;
    margin: 2% 1.3%;
    margin-right: 0;
}
/*end of ThirdViewMob****************/


/*ReviewMob**************************/
.ReviewMob{
    margin-bottom: 15%;
}
.ReviewSpaceMob{
    text-align: center;
    margin-bottom: 4%;
    margin-left: 1%;
    width: 97%;
}
.SwiperSlideMob{
    width: 70% !important;
    margin-left:29.7%;
    margin-top: -1%;
}
.SwiperSlideMob:first-of-type{
    margin-left: 16%;
}
.ReviewMob h1{
    text-align: center;
    margin-top: 15%;
    font-size: 22px;
}
.ReviewMob h3{
    font-size: 11px;
}
.ReviewMob input, textarea{
    width: 100% !important;
}
.ReviewMob input{
    padding: 2% 1%;
    margin-top: 10%;
    font-size: 9px;
}
.ReviewMob button{
    width: 100%;
    
}
/*end of ReviewMob*******************/



/*FooterMob**************************/
.Footerph{
    
    justify-content: space-between;
    background-color: #323F41;
}

.Footerphone{
    display: flex;
}

.logofootph{
    width: 30%;
    margin: -2% 5% 1% 5%;
}
.Followus{
    margin-top: 2%;
    display: flex;
    margin-right: 10%;
}
.RightfootPh{
    width: 27%;
    margin-top: 5%;
}
.FollowPh{
    padding: 3% 3% 0 3%;
    color: white;
    font-size: 0.65rem;
}
.largescript{
    width: 12%;
    padding-left: 0.5%;
    padding-top: 0.8%;
}
.netlogoMob{
    width: 70%;
    margin: 2% 2% 2% 0%;
}
.Networks{
    display: flex;
    justify-content: space-between;
    margin-left: 0%;
}
.netlogoMob:last-of-type {
    margin-right: 10%;
}
.PhonePh a{
    font-size: 11px;
    margin-left: -2%;
}
.MessagePh{
    font-size: 12px;
    margin-top: 7%;
    margin-left: -7%;
}
.MessagePh p{
    color: white;
    text-decoration: underline;
}
.MessagePh p:hover{
    color: gray; 
    cursor: pointer;
}
.CenterFoot{
    margin-top: 8%;
    margin-left: 4%;
    width: 30%;
    display: flex;
    flex-direction: column;
}
#ReviewPh{
    display: block;
}
#MessagePh{
    display: none;
}
/*end of FooterMob*******************/



/*Responsive Design*/
@media (max-width:414px){

    .Promophone h2{
        font-size: 1.9rem;
    }
    .Horizsect{
        font-size: 1.5rem;
    }
    .Promotext{
        font-size: 1.3rem;
    }
    .FAQph{
        font-size: 1.15rem;
    }
    .phone{
        font-size: 1rem;    
    }
    .followtext{
        font-size:1rem;
    }
    .reviewstittl{
        font-size: 2rem;
    }
    .titt{
        font-size: 1rem;
    }
    .sendbuttonph{
        font-size: 0.7rem;
    }
    
}

@media (max-width:375px){

    .Promophone h2{
        font-size: 1.9rem;
    }
    .Horizsect{
        font-size: 1.4rem;
    }
    .Promotext{
        font-size: 1.3rem;
    }
    .FAQph{
        font-size: 1.15rem;
    }
    .phone{
        font-size: 0.9rem;    
    }
    .followtext{
        font-size:0.9rem;
    }
    .reviewstittl{
        font-size: 2rem;
    }
    .titt{
        font-size: 0.8rem;
    }
    .sendbuttonph{
        font-size: 0.6rem;
    }
}

@media (max-width:360px){

    .Promophone h2{
        font-size: 1.9rem;
    
    }
    .Horizsect{
        font-size: 1.3rem;
    }
    .Promotext{
        font-size: 1.3rem;
    }
    .FAQph{
        font-size: 1.1rem;
    }
    .phone{
        font-size: 0.8rem;    
    }
    .followtext{
        font-size:0.85rem;
    }
    .reviewstittl{
        font-size: 2.2rem;
    }
    .titt{
    font-size: 0.95rem;
    }
    .sendbuttonph{
        font-size: 0.7rem;
    }
   
}

@media (max-width:320px){

    .Promophone h2{
        font-size: 1.6rem;
    }
    .Horizsect{
        font-size: 1.2rem;
    }
    .Promotext{
        font-size: 1.15rem;
    }
    .FAQph{
        font-size: 1rem;
    }
    .phone{
        font-size: 0.7rem;    
    }
    .followtext{
        font-size:0.8rem;
    }
    .reviewstittl{
        font-size: 2rem;
    }
    .titt{
        font-size: 0.85rem;
    }
    .sendbuttonph{
        font-size: 0.6rem;
    }
    .FollowPh{
        padding: 5% 3% 0 3%;
        font-size: 0.5rem;
    }
    .MessagePh{
        font-size: 10px;
        margin-top: 7%;
        margin-left: -7%;
    }
    .PhonePh a{
        font-size: 10px;
        margin-left: -5%;
    }
}